* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  background-image: url(./images/mobile_headline_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  margin-top: 0;
}

.top-list {
  display: none;
}

span {
  margin-left: 1.5rem;
  margin-top: 3rem;
}

.speakers-font {
  font-size: 20px;
  font-weight: 900;
  font-family: inherit;
  padding-bottom: 0.5rem;
}

/* Mobile Navigation Bar starts here */
.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgb(245, 243, 243);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-content:hover {
  color: #ec5242;
  transition: 0.3s;
}

.greetings {
  padding-top: 2.5rem;
  padding-bottom: 1px;
  color: #ec5242;
  font-size: 20px;
  font-family: inherit;
}

.title {
  display: inline-block;
  color: #ec5242;
  font-size: 33px;
  font-weight: 900;
  font-family: inherit;
  padding-bottom: 0.5rem;
}

.title:hover {
  color: transparent;
  background-image: url("./images/summit-2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.mobile {
  padding-left: 2rem;
}

.introduction {
  padding-top: 1rem;
}

.brief-intro {
  border: 3px solid #fff;
  padding: 0.8rem;
  min-width: 40%;
}

.items:hover {
  outline: 2px solid #d3d3d3;
  transition: outline 0.15s ease-in-out;
}

.words-presentation {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.about:hover {
  font-family: inherit;
  color: #ec5242;
  transition: outline 1s ease-in-out;
}

.ul-list {
  font-size: 16px;
  font-family: inherit;
}

.date {
  color: #272a31;
  padding: 1rem 0 1rem 0;
  font-family: inherit;
  font-size: 23px;
  font-weight: 900;
}

.national {
  padding-bottom: 1rem;
}

main {
  background-image: url(./images/pattern_bg.png);
  background-color: #000;
  background-repeat: repeat;
  background-size: contain;
  padding-bottom: 0.1rem;
  padding-top: 1rem;
}

.main-program {
  text-align: center;
  padding-top: 1rem;
  font-family: inherit;
  font-size: large;
  font-weight: 500;
  color: #fff;
  padding-bottom: 0.5rem;
}

.border {
  display: flex;
  border-bottom: 1px solid #ec5242;
  width: 40px;
  margin: 0 auto;
  align-self: center;
  margin-bottom: 1rem;
}

.span-1 {
  color: #ec5242;
  font-size: 18px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: rgba(251, 251, 251, 0.4);
  color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.base-text {
  text-align: center;
  margin: 3rem 2rem;
  background-color: #ec5242;
  padding: 2rem;
  color: #fff;
  font-size: 18px;
}

.d-flex-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.bottom-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}

.feature-speakers {
  padding-top: 3rem;
  padding-bottom: 0.09rem;
  color: #272a31;
  text-align: center;
  font-size: 24px;
}

.border-4 {
  border-bottom: 1px solid #ec5242;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.bottom-icon-2 {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.site-icons {
  background-color: #272a31;
}

.partner-1 {
  height: auto;
  width: 100px;
}

.partner {
  text-align: center;
  font-family: inherit;
  font-size: 24px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #fff;
}

.span-2 {
  color: #ec5242;
  padding-bottom: 0.5rem;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.main-footer {
  padding: 3rem;
}

.footer-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

/* About page design start here */
.about-section {
  width: 100%;
  background-color: beige;
  background-image: url(./images/headline-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sharing-about {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use {
  color: #ec5242;
}

.global {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 1rem;
  display: flex;
  text-align: center;
}

.about-paragraph {
  max-width: 75%;
  text-align: center;
  border: 1.5px solid #d3d3d3;
  background: #fff;
  padding: 1rem;
  line-height: 1.5rem;
}

.reach-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.paragraph-reach-out {
  padding: 0.5rem;
  text-align: center;
}

.bottom-line {
  display: flex;
  border-bottom: 2px solid #000;
  width: 190px;
  margin: 0 auto;
  align-self: center;
  margin-bottom: 4rem;
}

.summit-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
  border-bottom: 2px solid #d3d3d3;
}

.creative {
  display: flex;
  font-size: 24px;
  padding-bottom: 0.3rem;
  text-align: center;
}

.bottom-line-2 {
  display: flex;
  border-bottom: 2px solid #ec5242;
  width: 40px;
  margin: 0 auto;
  align-self: center;
  margin-bottom: 1rem;
}

.logo-description {
  text-align: center;
  margin-bottom: 2rem;
}

.summit-logo {
  width: 400px;
  height: auto;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  margin-bottom: 4rem;
}

.towards-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-summit {
  color: #272a31;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0.9rem;
}

.list-nav {
  display: none;
}

.towards-end-paragraph {
  text-align: center;
  max-width: 60%;
  padding-bottom: 1rem;
}

.sharing {
  color: #ec5242;
  font-size: 28px;
  padding-bottom: 1rem;
}

.d-flex-3 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.summit-2013 {
  padding: 5rem;
  font-size: 24px;
  border: 1px solid #6d6464;
  background: linear-gradient(rgba(38, 38, 38, 0) 0.85%, rgba(247, 90, 90, 0.7) 0.84%), url(./images/summit-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 2rem;
}

.summit-2014 {
  padding: 5rem;
  font-size: 24px;
  border: 1px solid #6d6464;
  background: linear-gradient(rgba(205, 70, 70, 0) 0.85%, rgba(247, 90, 90, 0.7) 0.84%), url(./images/summit-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .d-flex-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-social {
    background-color: #000;
  }

  .top {
    color: #fff;
  }

  .top-list {
    list-style: none;
    color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.8rem;
  }

  span {
    display: none;
  }

  .whole-program {
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 0.09rem;
  }

  .summit-logo {
    width: 800px;
    height: auto;
    padding: 3rem 15rem;
    border: 1px solid #d3d3d3;
    margin-bottom: 2rem;
  }

  .greetings {
    font-size: 35px;
  }

  .title {
    font-size: 50px;
  }

  .need-flex {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  .mobile-burger,
  .sharing {
    display: none;
  }

  .mobile {
    padding-left: 5rem;
  }

  .desktop-logo {
    height: auto;
    width: 120px;
  }

  .brief-intro {
    max-width: 40%;
  }

  .list-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 5rem;
  }

  .list-nav ul {
    display: flex;
    list-style: none;
  }

  .list-nav a {
    text-decoration: none;
    color: #272a31;
  }

  .ul-list {
    display: flex;
    gap: 1.5rem;
  }

  .about {
    color: #ec5242;
    font-size: 1rem;
  }

  .campaign {
    display: inline-block;
    border: 4px solid #ec5242;
    color: #ec5242;
    padding: 0.5rem;
  }

  .base-text {
    display: none;
  }

  .paragraph {
    text-align: center;
  }

  .insight-section {
    display: flex;
    gap: 0.1rem;
    align-self: center;
    width: 80%;
    opacity: 0.8;
    transition: outline 0.15s ease-in-out;
  }

  .speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-self: center;
  }

  .speakers-section {
    display: flex;
    justify-content: center;
  }

  .border-2 {
    border-bottom: 1px solid #d3d3d3;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
