* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  background-image: url(./images/mobile_headline_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3rem;
}

.mobile-burger {
  height: auto;
  width: 40px;
}

.greetings {
  padding-top: 2.5rem;
  padding-bottom: 1px;
  color: #ec5242;
  font-size: 20px;
  font-family: inherit;
}

.title {
  color: #ec5242;
  font-size: 33px;
  font-weight: 900;
  font-family: inherit;
  padding-bottom: 0.5rem;
  width: auto;
}

.introduction {
  padding-top: 1rem;
  padding-bottom: 3rem;
  line-height: 1.3rem;
}

.brief-intro {
  border: 3px solid #fff;
  padding: 0.8rem;
}

.date {
  color: #272a31;
  padding: 1rem 0 1rem 0;
  font-family: inherit;
  font-size: 30px;
  font-weight: 800;
}

main {
  background-image: url(./images/pattern_bg.png);
  background-color: #000;
  background-repeat: repeat;
  background-size: contain;
  padding: 1rem;
}

.main-program {
  text-align: center;
  padding: 0.5rem;
  font-family: inherit;
  font-size: large;
  font-weight: 500;
  color: #fff;
}

.border {
  display: flex;
  border-bottom: 1px solid #ec5242;
  width: 7%;
  margin: 0 auto;
  align-self: center;
}

.insight-section {
  padding-top: 1.5rem;
}

.span-1 {
  color: #ec5242;
  font-size: 18px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: #d3d3d3;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.base-text {
  text-align: center;
  margin: 3rem;
  background-color: #ec5242;
  padding: 2rem;
  color: #fff;
  font-size: 18px;
}

.d-flex-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.span-2 {
  color: #ec5242;
  padding-bottom: 0.5rem;
}

#more {
  display: none;
}

@media only screen and (min-width: 700px) {
  .speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .d-flex-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph {
    padding: 0 1rem;
    text-align: center;
  }

  .insight-section {
    display: flex;
  }
}
